{
  "name": "{{ name }}",
  "publisher": "{{publisher}}",
  "license": "{{license}}",
  "author": "{{author}}",
  "displayName": "{{displayName}}",
  "description": "{{description}}",
  "version": "{{version}}",
  "icon": "{{icon}}",
  "repository": {
    "type": "git",
    "url": "https://github.com/fundor333/F333-Colors"
  },
  "bugs": {
    "url": "https://github.com/fundor333/F333-Colors/issues"
  },
  "engines": {
    "vscode": "^1.76.0"
  },
  "categories": [
    "Themes"
  ],
  "contributes": {
    "themes": {{ themes }}
  },
  "scripts": {
    "build": "vsce package",
    "package": "vsce package",
    "publish": "vsce publish"
  }
}
