{
    "name": "{{title}}",
    "colors": {
        // Generic
        "editor.background": "{{ editor_backgound }}",
        "editor.foreground": "{{ editor_font }}",
        // Terminal
        "debugConsole.sourceForeground": "{{ terminal_font }}",
        "debugConsole.infoForeground": "{{ terminal_info }}",
        "debugConsole.errorForeground": "{{ terminal_error }}",
        "debugConsole.warningForeground": "{{ terminal_warning }}",
        ////
        // Badge settings
        "activityBarBadge.background": "{{ notice }}",
        // Activity bar (left)
        "activityBar.foreground": "{{ inverted_font }}",
        "activityBar.inactiveForeground": "{{ font }}",
        "activityBar.background": "{{ main }}",
        // Status Bar (bottom)
        "statusBar.background": "#1f1f1f",
        "statusBar.foreground": "#E4E3D3",
        "statusBar.debuggingBackground": "{{ main }}",
        "statusBar.debuggingForeground": "{{ font }}",
        "statusBar.noFolderBackground": "{{ font }}",
        "statusBar.noFolderForeground": "{{ inverted_font }}",
        // To bar
        "titleBar.activeBackground": "#1f1f1f",
        "titleBar.activeForeground": "#E4E3D3",
        // Tabs
        "tab.activeBackground": "{{ main }}",
        "tab.activeForeground": "{{ font }}",
        "tab.activeModifiedBorder": "{{ main }}",
        "tab.inactiveModifiedBorder": "{{ main }}",
        "tab.inactiveBackground": "{{ font }}",
        "tab.inactiveForeground": "{{ inverted_font }}",
        "tab.inactiveModifiedBorder": "{{ main }}",
        "tab.unfocusedActiveBackground": "{{ font }}",
        "tab.unfocusedActiveForeground": "{{ inverted_font }}"
    },
    "tokenColors": {{token_colors}}
}
