{
    "name": "{{title}}",
    "colors": {
        // Generic
        "editor.background": "{{ font }}",
        "editor.foreground": "{{ inverted_font }}",
        // Badge settings
        "activityBarBadge.background": "{{ notice }}",
        // Activity bar (left)
        "activityBar.foreground": "{{ inverted_font }}",
        "activityBar.inactiveForeground": "{{ font }}",
        "activityBar.background": "{{ main }}",
        // Status Bar (bottom)
        "statusBar.background": "{{ font }}",
        "statusBar.foreground": "{{ inverted_font }}",
        "statusBar.debuggingBackground": "{{ main }}",
        "statusBar.debuggingForeground": "{{ font }}",
        "statusBar.noFolderBackground": "{{ font }}",
        "statusBar.noFolderForeground": "{{ inverted_font }}",
        // To bar
        "titleBar.activeBackground": "{{ font }}",
        // Tabs
        "tab.activeBackground": "{{ main }}",
        "tab.activeForeground": "{{ font }}",
        "tab.inactiveBackground": "{{ font }}",
        "tab.inactiveForeground": "{{ inverted_font }}",
        "tab.unfocusedActiveBackground": "{{ font }}",
        "tab.unfocusedActiveForeground": "{{ inverted_font }}",
        // Terminal
        "debugConsole.sourceForeground": "{{ inverted_font }}",
        "debugConsole.infoForeground": "{{ notice }}",
        "debugConsole.errorForeground": "{{ allert }}",
        "debugConsole.warningForeground": "{{ allert }}",

        "gitDecoration.addedResourceForeground": "{{ inverted_font }}",
        "gitDecoration.modifiedResourceForeground": "{{ inverted_font }}",
        "gitDecoration.deletedResourceForeground": "{{ inverted_font }}",
        "gitDecoration.renamedResourceForeground": "{{ inverted_font }}",
        "gitDecoration.stageModifiedResourceForeground": "{{ inverted_font }}",
        "gitDecoration.stageDeletedResourceForeground": "{{ inverted_font }}",
        "gitDecoration.untrackedResourceForeground": "{{ inverted_font }}",
        "gitDecoration.ignoredResourceForeground": "{{ inverted_font }}",
        "gitDecoration.conflictingResourceForeground": "{{ inverted_font }}"
    },
    "tokenColors": {{token_colors}}
}
