{
    "name": "{{title}}",
    "colors": {
        "editor.background": "{{ editor_backgound }}",
        "editor.foreground": "{{ editor_font }}",

        "debugConsole.sourceForeground": "{{ terminal_font }}",
        "debugConsole.infoForeground": "{{ terminal_info }}",
        "debugConsole.errorForeground": "{{ terminal_error }}",

        "activityBarBadge.background": "{{ notice }}",

        "activityBar.foreground": "{{ inverted_font }}",
        "activityBar.inactiveForeground": "{{ font }}",
        "activityBar.background": "{{ main }}",

        "statusBar.background": "{{ statusbar_back|default( '#1f1f1f') }}",
        "statusBar.foreground": "{{ statusbar_fore|default(  '#E4E3D3') }}",
        "statusBar.debuggingBackground": "{{ main }}",
        "statusBar.debuggingForeground": "{{ font }}",
        "statusBar.noFolderBackground": "{{ statusbar_noFolderBackground|default( font ) }}",
        "statusBar.noFolderForeground": "{{ statusbar_noFolderForeground|default( inverted_font ) }}",

        "titleBar.activeBackground": "#1f1f1f",
        "titleBar.activeForeground": "#E4E3D3",

        "tab.activeBackground": "{{ tab_active_bk|default( main ) }}",
        "tab.activeForeground": "{{ tab_active_fg|default( font ) }}",
        "tab.activeModifiedBorder": "{{ main }}",
        "tab.inactiveModifiedBorder": "{{ main }}",
        "tab.inactiveBackground": "{{ font }}",
        "tab.inactiveForeground": "{{ main }}",
        "tab.inactiveModifiedBorder": "{{ main }}",
        "tab.unfocusedActiveBackground": "{{ tab_unfocus_bk|default( font ) }}",
        "tab.unfocusedActiveForeground": "{{ tab_unfocus_fg|default( inverted_font ) }}"
    },
    "tokenColors": {{token_colors}}
}
